<header class="header-nav">
    <div class="middle-nav-logo">

        <a href="/">
            <img src="{{ 'nike.png' | asset_url }}" width="80" height="50" loading="lazy">
        </a>
    </div>
    <div>
        <ul class="middle-nav-bar">

        {% for link  in linklists['main-menu'].links  %} 
        
            <li>{{ link.title | link_to: link.url }}</li>

        {% endfor %}

        </ul>
    </div>
    <div class="middle-nav-items">
    

    <form action="/search">
        <input type="search" placeholder="Search" class="search-nav">
     </form>

    <a href="/">
        <img src="{{ 'd.png' | asset_url }}" width="40" height="40" loading="lazy">
    </a>


    </div>

</header>