<section class="all-collections">

<h1>Featured Collections</h1>

<div class="collection-container">
    <div class="collection-wrapper">

    {% for collection in collections %}

        <div class="collection-card">

        <img src="{{ collection.featured_image |  image_url  }}" width="300" height="300">
        <h3>{{ collection.title | link_to: collection.url }}</h3>


        </div>
      
    {% endfor %}

    </div>
</div>

</section>



{% schema %}
    {
        "name": "all-collections",
        "settings": [
        {
            "type": "color",
            "id": "background",
            "label": "Background",
            "default": "#F4F4F4"
        },
        {
            "type": "color",
            "id": "text_color",
            "label": "Text",
            "default": "#000000"
        }
         
    ],
    "blocks": [
],
     "presets": [
        {
            "name": "all-collections"
        }
     ]
    } 

    {% endschema %}