{% if section.settings["show-announcement"]  %}
<section>hello world</section>
{% endif %}

{% schema %}
    {
        "name": "Announcement Bar",
        "settings": [{
            "type": "checkbox",
            "id": "show-announcement",
            "label": "Show Announcement",
            "default": true
        }],
        "presets": []
    }
{% endschema %}