<section>hello world</section>

{% schema %}
    {
        "name": "Announcement Bar",
        "settings": [{
            "type": "checkbox",
            "id": "show-announcement",
            "label": "Show Announcement",
            "default": true
        }],
        "presets": []
    }
{% endschema %}