<section>hello world</section>

{% schema %}
    {
        "name": "Banner",
        "settings": [],
        "presets": [
            {
                "name": "banner"
            }
        ]
    }
{% endschema %}