*{
    font-family: Helvetica, sans-serif;
}

body{
    padding: 0;
    margin: 0;
}


.announcement-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0, 30px, 0, 30px;
}

.announcement-bar-left-section{
    display: flex;
    align-items: center;
}

.announcement-bar-left-section{
    display: flex;
    align-items: center;
}

.announcement-links{
    display: flex;
    list-style: none;
    
}

.announcement-links li{
    padding: 3px;
    font-size: 15px;
    list-style-type: none;
}

.announcement-links a{
    color: inherit;
    text-decoration: none;
}

.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: white;
}

.middle-nav-bar{
    display: flex;
    list-style: none;
}

.middle-nav-bar li{
    display: flex;
    padding: 10px;
}

.middle-nav-bar a{
    color: inherit;
    font-size: 17px;
    text-decoration: none;
}