body{
    padding: 0;
    margin: 0;
}


.announcement-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0, 30px, 0, 30px;
}

.announcement-bar-left-section{
    display: flex;
    align-items: center;
}

.announcement-bar-left-section{
    display: flex;
    align-items: center;
}

.announcement-links{
    display: flex;
    list-style: none;
}